# =========================
# Airflow (공식 권장)
# =========================
logs/
airflow.cfg
webserver_config.py

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.venv/

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
